.Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    position: relative;

    .box12 {
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
        height: fit-content;
        z-index: 0;

        svg {
            width: 80%;
        }
    }

    .box2 {
        top: 50%;
        left: 90%;
        // opacity: 0.8;
    }

    .Contacts {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 60%;
        max-height: 50%;
        // overflow-y: auto;
        border: 0.3px solid $C2;
        border-radius: 2rem;
        padding: 1rem;
        gap: 1rem;
        max-height: 85vh;

        .Title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            align-items: center;

            .Actions {
                display: flex;
                gap: 1rem;

                .AddContact {
                    background-color: $C2;
                    color: $C1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1rem 0.8rem;
                    border-radius: 50%;
                    font-size: 3rem;
                }
            }
        }

        .ContactsList {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
            max-height: 90vh;
            overflow: auto;
            // : :-webkit-scrollbar-button:hidden;

        }

        .Contact {
            border: 0.3px solid $C2;
            border-radius: 3rem;
            padding: 0.2rem 1rem;
            display: flex;
            flex-direction: row;
            color: white;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;

            .ContactData {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                .ContactInfos {
                    display: flex;
                    flex-direction: column;
                    // gap: 0.1rem;

                    .ContactName {
                        font-size: 1.1rem;
                        letter-spacing: 0.1rem;
                    }

                    .ContactNumber {
                        letter-spacing: 0.1rem;
                        font-size: 1.1rem;
                        // font-weight: 600;
                    }
                }

                .NumberContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 0.3rem;
                }

            }

            .Actions {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;

                .LoadingIcon {
                    width: 100% !important;
                    height: 100% !important;
                    animation: loading 1s infinite;

                    @keyframes loading {
                        0% {
                            transform: rotate(0deg);
                        }

                        100% {

                            transform: rotate(360deg);
                        }
                    }
                }
            }

        }

    }

    @include respond-to("small") {
        .Contacts {
            width: 100%;

            .Contact {
                gap: 1rem;
            }

            img {
                width: 30px;

            }

            .ContactInfos {
                max-width: 80%;

                input {
                    width: 100%;
                }
            }
        }
    }
}