@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url("/fonts/CoconRegularFont.otf");
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: "Cocon";
  src: url("/fonts/CoconRegularFont.otf") format("opentype");
}

html {
  background-color: #000000;
}

// responsiveness : 
@mixin respond-to($breakpoint) {
  @if $breakpoint==small {
    @media (max-width: 720px) {
      @content;
    }
  }

  @else if $breakpoint==medium {
    @media (max-width: 1080px) {
      @content;
    }
  }

  @else if $breakpoint==large {
    @media (max-width: 1280px) {
      @content;
    }
  }

  @else if $breakpoint==xlarge {
    @media (max-width: 1420px) {
      @content;
    }
  }
}

// Palette
$C1 : #000000;
$C2 : #F6F662;
$C3 : #B3B3B3;
$C4 : #666647;
$C5 : rgba(247, 247, 98, 0.79);

$hover :url("/Pointer.svg"),
auto;

.Hover {
  cursor: $hover;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;

  ::-webkit-scrollbar {
    width: 10px;
    padding: 1em;
    background-color: #0b1120;
  }

  ::-webkit-scrollbar-track {
    background: $C1 !important;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba($color: $C5, $alpha: 0.8);
    border-radius: 10px !important;
  }


}



.C1 {
  color: $C1 !important;
}

.C2 {
  color: $C2 !important;
}

.C3 {
  color: $C3 !important;
}

.C4 {
  color: $C4 !important;
}

.C5 {
  color: $C5 !important;
}



.Page {
  background-color: #000000;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0.2em 3em;


}

// mixing for the header buttons
@mixin PrimaryButton($color) {
  background-color: $color;
  border: none;
  border-radius: 25px;
  color: #000000;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: $hover;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-family: "Cocon";
  display: flex;
  align-items: center;
  justify-content: center;


  &:hover {
    outline: $color;
    background-color: #000000;
    color: $color;
    outline: 1px $color solid;
  }
}

.Logo {
  cursor: $hover !important;
}

.box1 {
  width: fit-content;
  height: fit-content;
}

.Button {
  @include PrimaryButton($C2)
}


.Outline {
  @include PrimaryButton($C5);
  background-color: transparent;
  border: 1px solid $C5;
  color: $C5;
  width: fit-content;
  text-transform: capitalize;

  &:hover {
    background-color: $C5;
    color: #000000;
  }
}

.Update {
  font-size: 1rem;
  text-transform: capitalize;
  background-color: #B3B3B3;
  color: white;

  &:hover {
    color: $C3;
    outline: $C3 1.5px solid;
    border: none;
    transition: all 50ms;
  }
}

.Delete {
  font-size: 1rem;
  text-transform: capitalize;
  background-color: $C4;
  color: white;

  &:hover {
    color: $C4;
    outline: $C4 1.5px solid;
    border: none;
    transition: all 50ms;
    background: none;
  }
}





.logo-animation {
  animation: logo 1s ease forwards;
  width: 100%;
}

@keyframes logo {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

html {
  cursor: url("/Cursor.svg"), auto;
}



@media screen and (min-width: 1200px) {
  html {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 26px !important;
  }
}


@media screen and (min-width: 1000px) {
  html {
    font-size: 16px !important;
  }
}





@include respond-to("medium") {
  html {
    font-size: 13px;
  }
}

@include respond-to("small") {
  .Page {
    padding: 0.2em 1em;


  }

  html {
    font-size: 10px;
  }

}

// @include respond-to("medium");
// @include respond-to("large");
// imports
@import 'header/header';
@import 'homePage/homePage';
@import 'login/login';
@import 'dashboard/dashboard';
@import 'footer/footer';