.Home {
    ::-webkit-scrollbar {
        width: 10px !important;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1 !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px !important;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .Content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .HeaderContainer {
        position: relative;

        .box1 {
            position: absolute;
            width: fit-content;
            height: fit-content;
            top: -25px;
            left: 30%;

        }
    }

    .Shape3 {
        z-index: 1;
        overflow: hidden;
        // animation: shapeAnimation 15s linear infinite;
        opacity: 0.6;
        width: fit-content;
    }

    .Shape {
        width: fit-content;
    }

    .Logo {
        cursor: url("/Pointer.svg");
    }
}

// shape animation
@keyframes shapeAnimation {
    0% {
        left: 30%;
        top: 0;
        rotate: 0;
    }

    50% {
        left: 0;
        top: 5%;
        rotate: 360deg;
    }

    100% {
        left: 30%;
        top: 0;
        rotate: 0;
    }
}

@import 'landing';
@import 'cards';

.Home {
    @include respond-to("small") {

        .Content {
            gap: 10rem;
        }
    }

}