.Landing {
    display: flex;
    flex-direction: row;
    min-height: 83vh;

    .box1 {
        width: fit-content;
        height: 100%;
        position: absolute;
        top: -30px;
        left: 30%;
    }

    .Left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 500px;
        width: 100%;
        gap: 0.8rem;

        .Title,
        .Title span {
            font-weight: 700;
            color: #fff;
            font-family: 'Acme';
            font-style: normal;
            font-weight: 400;
            font-size: 3.3rem;
        }

        .Description {
            font-family: 'Josefin Sans';

            font-weight: 600;
            font-size: 1.4rem;
            line-height: 34px;

            color: rgba(255, 255, 255, 0.83);
        }
    }

    .Right {
        width: 100%;
        display: flex;
        min-height: 100%;
        overflow: visible;
        z-index: 100;
        aspect-ratio: 2/1.5;

    }
}

@include respond-to("small") {
    .Landing {
        display: flex;
        flex-direction: column;

        .Left {
            max-width: unset;
            min-width: unset;
            width: unset;
            justify-content: center;
            align-self: center;
            width: 100%;
            gap: 3rem;
            min-height: 60vh;

            .Title,
            .Title span {
                font-size: 3.7rem;
                text-align: center;
            }

            .Description {
                text-align: center;
                font-size: 1.8rem;
                // max-width: 80%;
                // width: 80%;
                padding: 0 1rem;
            }

            button {
                width: 100%;
            }
        }

        .Right {
            width: fit-content;
            min-width: 100%;
            justify-content: center;
            max-width: 100%;
            overflow: hidden;
            // width: fit-content;
            // max-heigxht: 40rem;
            height: 50vh;

            .dContainer {}
        }
    }
}