.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;

    .Actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
            @include PrimaryButton($C2);
        }
    }

}

.DashboardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .UserButton {
        background-color: transparent;
        width: fit-content;
        height: fit-content;
        font-size: 1.5rem;
        border: none;
        outline: 2px $C2 solid;
        color: white;
        padding: 0.4rem 1rem 0.4rem 1rem;
        border-radius: 2rem;
        font-family: 'Cocon';
        display: flex;
        align-items: center;
    }
}


@include respond-to("small") {
    .Header {
        // background-color: white;
        gap: 0.2rem;

        .Logo {
            max-width: 190px;
            max-height: 100px;
        }
    }

    .DashboardHeader {
        .Logo {
            max-width: 170px;
            max-height: 90px;
        }

        .UserButton {

            outline: none;
            white-space: nowrap;
            border: 2px solid $C2;
            padding: 0.2rem 1rem 0.2rem 1rem;

            img {
                width: 30px;
            }
        }

        // .Contacts{}
    }
}