.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;

    .Actions {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
            @include PrimaryButton($C2);
        }
    }

}